<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{480,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,852}}</string>
                <key>sourceSize</key>
                <string>{480,852}</string>
            </dict>
            <key>btn_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1864},{140,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{140,48}}</string>
                <key>sourceSize</key>
                <string>{150,48}</string>
            </dict>
            <key>game_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1864},{48,36}}</string>
                <key>offset</key>
                <string>{-69,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,36}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>game_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1888},{108,37}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,37}}</string>
                <key>sourceSize</key>
                <string>{186,37}</string>
            </dict>
            <key>game_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{176,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{176,36}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>game_loading4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1710},{2,4}}</string>
                <key>offset</key>
                <string>{-51,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{2,4}}</string>
                <key>sourceSize</key>
                <string>{114,28}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,852}}</string>
                <key>sourceSize</key>
                <string>{480,852}</string>
            </dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1797},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1797},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1797},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1797},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1797},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1797},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1864},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>resume_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1864},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>shoot_copyright.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1710},{428,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{428,85}}</string>
                <key>sourceSize</key>
                <string>{434,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{484,1927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8489c909ce4c98694a93f361c1320bfd:eae3dec0d5c37a5221f7fca10499667a:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
